
@model Ticari_Otomasyon.Models.Classes.Customer
@{
    Layout = null;
}

<style>
    body {
        background: rgb(255, 255, 255)
    }

    .form-control:focus {
        box-shadow: none;
        border-color: #BA68C8
    }

    .profile-button {
        background: rgb(99, 39, 120);
        box-shadow: none;
        border: none
    }

        .profile-button:hover {
            background: #682773
        }

        .profile-button:focus {
            background: #682773;
            box-shadow: none
        }

        .profile-button:active {
            background: #682773;
            box-shadow: none
        }

    .back:hover {
        color: #682773;
        cursor: pointer
    }

    .labels {
        font-size: 11px
    }

    .add-experience:hover {
        background: #BA68C8;
        color: #fff;
        cursor: pointer;
        border: solid 1px #BA68C8
    }
</style>
<div class="container rounded bg-white mt-2 mb-2">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="~/Images/company-icon.jpg"><span class="font-weight-bold">@Model.Code</span><span class="text-black-50">@Model.CompanyName</span></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">İletişim Bilgileri</h4>
                </div>


                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Adres</label><textarea class="form-control" placeholder="" disabled >@Model.Adress</textarea></div>
                    <div class="col-md-6"><label class="labels">İlçe</label><input type="text" class="form-control" value="@Model.Town" placeholder="" disabled></div>
                    <div class="col-md-6"><label class="labels">Şehir</label><input type="text" class="form-control" value="@Model.City" placeholder="" disabled></div>
                    <div class="col-md-12"><label class="labels">Ülke</label><input type="text" class="form-control" placeholder="" value="@Model.Country" disabled></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">E-mail</label><input type="text" class="form-control" placeholder="" value="@Model.Email" disabled></div>

                    <div class="col-md-12"><label class="labels">Telefon</label><input type="text" class="form-control" placeholder="" value="@Model.Phone" disabled></div>

                    <div class="col-md-12"><label class="labels">İlgili</label><input type="text" class="form-control" placeholder="" value="@Model.Incharge" disabled></div>
                </div>
               
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center experience">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Özel Bilgiler</h4>
                    </div>
                </div>
          
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">Özel Kod</label><input type="text" class="form-control" placeholder="" value="@Model.SpecialCode" disabled></div>
                    <div class="col-md-6"><label class="labels">Yetki Kodu</label><input type="text" class="form-control" value="@Model.CyphCode" placeholder="" disabled></div>
                    <div class="col-md-12"><label class="labels">Ticari İşlem Grubu</label><input type="text" class="form-control" value="@Model.TradingGrp" placeholder="" disabled></div>
                </div>
                <br />
                <div class="d-flex justify-content-between align-items-center experience" style="margin-top:10px">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Ticari Bilgiler</h4>
                    </div>
                </div>

                <div class="col-md-12"><label class="labels">Vergi Kimlik No</label><input type="text" class="form-control" placeholder="experience" value="@Model.IdentityNumber" disabled></div> <br>
                <div class="col-md-12"><label class="labels">Vergi Dairesi</label><input type="text" class="form-control" placeholder="additional details" value="@Model.TaxOffice" disabled></div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

