@model Ticari_Otomasyon.Models.CncModel.Customer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fırma_Adı)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fırma_Adı)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vergi_No)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vergi_No)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Banka_HesapNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Banka_HesapNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active_fl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active_fl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EPosta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EPosta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Yetkılı)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Yetkılı)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Yetkılı_cep)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Yetkılı_cep)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nott)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nott)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Borc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Borc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Odeme)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Odeme)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Iptal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Iptal)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
