@model Ticari_Otomasyon.Models.CncModel.Item

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Item</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BARKOD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BARKOD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.URUNADI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.URUNADI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FIYAT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FIYAT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SONFIYAT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SONFIYAT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ALISFIYATI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ALISFIYATI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STOK_DURUMU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STOK_DURUMU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EKLEME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EKLEME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UYARI_SAYISI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UYARI_SAYISI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BIRIM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BIRIM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GRUP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GRUP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KDV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KDV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INDIRIMLI_FIYAT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INDIRIMLI_FIYAT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STOK_TAKIP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STOK_TAKIP)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
